.article_container {
    margin: 2em;
}

.article_header {
    display: flex;
}

.container {
    max-width: 800px;
}

.preview {
    width: 150px;
}

.profile_photo {
    position: relative;
    width: 150px;
}